
#wp-admin-bar-wpm_gt_toolbar #wpm_gt_search_input {
	display: inline-block;
	border: none;
	border-radius: 3px;
	height: 70%;
	padding: 0 5px;
}

#wp-admin-bar-wpm_gt_toolbar #wpm_gt_search_results {
	background-color: #fff;
	display: none;
}

#wp-admin-bar-wpm_gt_toolbar #wpm_gt_search_input:focus + #wpm_gt_search_results {
	display: block;
}

#wp-admin-bar-wpm_gt_toolbar #wpm_gt_search_results li {
	display: block;
	background-color: #fff;
	float: none;
	color: #000;
}

#wp-admin-bar-wpm_gt_toolbar #wpm_gt_search_results li b {
	font-weight: bold;
}